<ul class="list-group">
  <li class="list-group-item">Argumentos de entrada: <b>{{argvs}}</b></li>
  <li class="list-group-item">Nombre de la plataforma (sistema operativo): <b>{{platform}}</b></li>
  <li class="list-group-item">Versión de node.js: <b>{{nodeVersion}}</b></li>
  <li class="list-group-item">Memoria total reservada (rss): <b>{{memory}}</b></li>
  <li class="list-group-item">Path de ejecución: <b>{{pathEject}}</b></li>
  <li class="list-group-item">Process id: <b>{{id}}</b></li>
  <li class="list-group-item">Carpeta del proyecto: <b>{{pathProject}}</b></li>
</ul>